*{
          margin: 0;
          padding: 0;
          box-sizing: border box;
          font-family: arial, helvatica, sans-serif;
}

.navbar 
{
        background-color: #000000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 5%;
	box-shadow: o 2px 5px rgba(0, 0, 0, 0, 1);

          
}
          
.navbar ul {

display: flex; 
list-style: none; 
margin: 0;
padding: 0;

}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 5px;
    transition: all 0.4s ease;



}

.navbar ul li:hover a 

{

    background-color: white;
    color: black; 
    box-shadow: 0px 4px 10px;
    transform: translateY();

}