*{
          margin: 0;
          padding: 0;
          box-sizing: border box;
          font-family: arial, helvatica, sans-serif;
}

.navbar 
{
          background-color: black;
          color: darkblue;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 15px 5%;
          box-shadow: 0 2;


          
}
          
